@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme{

--font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
--font-mono: 'Fira Code', ui-monospace, SFMono-Regular,
/* Accent (Orange) */
--color-accent-50:  #fff5e6;
--color-accent-100: #ffe0b3;
--color-accent-200: #ffcc80;
--color-accent-300: #ffb84d;
--color-accent-400: #ffa733;
--color-accent-500: #ff9100; /* K.I.T. Haupt-Akzent */
--color-accent-600: #e57f00;
--color-accent-700: #b35f00;
--color-accent-800: #804200;
--color-accent-900: #4d2800;
--color-accent-950: #331a00;

/* Gray (Dark) */
--color-gray-50:  #f6f6f6;
--color-gray-100: #eaeaea;
--color-gray-200: #cfcfcf;
--color-gray-300: #a6a6a6;
--color-gray-400: #7d7d7d;
--color-gray-500: #595859;
--color-gray-600: #444344;
--color-gray-700: #2e2e2d;
--color-gray-800: #232223; /* K.I.T. Hintergrund */
--color-gray-900: #181818;
--color-gray-950: #0d0d0d;


}